*

!zathura/
!zathura/**

!waybar/
!waybar/**

!rofi/
!rofi/**

!Kvantum/
!Kvantum/**

!qt6ct/
!qt6ct/**

!nvim/
!nvim/**

!hypr/
!hypr/**
hypr/hyprland.conf

!cheat/
!cheat/**

!dunst/
!dunst/**

!kitty/
!kitty/**

!.gitignore
