/*
!.gitignore
!/.config/
# Ignore all in .config so I can selectively choose what I don't want ignored
/.config/* 

!/.config/mpv/
!/.config/zathura/
!/.config/waybar/
!/.config/rofi/
!/.config/Kvantum/
!/.config/qt5ct/
!/.config/qt6ct/
!/.config/nvim/

!/.config/hypr/
/.config/hypr/hyprland.conf
/.config/hypr/custom.lua

!/.config/cheat/
/.config/cheat/cheatsheets/community

!/.config/dunst/
!/.config/kitty/

!/.config/xkb/

!.bashrc
